.mapboxgl-popup-tip{
    display: none
}

.mapboxgl-popup-content{
    padding: 0;
    width: 500px;
    height: auto;
    background: transparent;
}

.mapboxgl-popup-content .btn{
    font-size: 2rem;
}

.mapboxgl-popup-close-button{
    padding: 0;
    width: 20px;
    height: 20px;
    bottom: -20px;
    left: 0;
    top: auto;
    background: #0B303A;
    color: white;
    font-size: 1rem
}
