.mapboxgl-popup-tip{
    display: none
}

.mapboxgl-popup-content{
    padding: 0;
    width: 300px;
    height: auto;
    background: transparent;
}

.mapboxgl-popup-content .btn{
    font-size: 2rem;
}

.mapboxgl-popup-close-button{
    padding: 0;
    width: 20px;
    height: 20px;
    bottom: auto;
    right: 0;
    top: 0;
    background: #0B303A;
    color: white;
    font-size: 1rem;
}

*[class *='MuiTableCell']{
    padding: 10px
}