# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*.env
.env
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
geonode/
iws_bk
docs

#docker volumes
volumes/dbdata
volumes/dbbackups
volumes/geoserver-data-dir
volumes/*.tar
volumes/tds
volumes/grafana-data
volumes/nginxconf
#statics


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
startup_log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Downstream Project
downloaded/
geoserver/
uploaded/
static_root/
development.db
development.db-journal
iws/local_settings.py
iws/flooding/data/*

.idea/
istorm/node_modules/*
#istorm/build/*

celerybeat-schedule
storage/layerdata/*
/openistorm/migrations/*
sd.env



.bash*
/iws/measurements/migrations/*
/iws/sea_storm_atlas/migrations/*
