{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About I-STORMS Web System" %}</h2>
</div>
<p class="lead">{% trans "About I-STORMS Web System" %}</p>
<p> 
    The I-STORMS web system is a common  platform for data sharing developed on the basis of Geonode project.
<p>
　　{% trans "GeoNode is a geospatial content management system, a platform for the management and publication of geospatial data. It brings together mature and stable open-source software projects under a consistent and easy-to-use interface allowing non-specialized users to share data and create interactive maps." %}
</p>
<p>
　　{% trans "Data management tools built into GeoNode allow for integrated creation of data, metadata, and map visualizations. Each dataset in the system can be shared publicly or restricted to allow access to only specific users. Social features like user profiles and commenting and rating systems allow for the development of communities around each platform to facilitate the use, management, and quality control of the data the GeoNode instance contains." %}
</p>
<p>
　　{% trans "It is also designed to be a flexible platform that software developers can extend, modify or integrate against to meet requirements in their own applications." %}
</p>
<p>
The development, installation and implementation of the platform have been provided by CNR-ISMAR, City of Venice.
</p>
<p>
The development of Open I-STORMS and Open I-STORMS APP have been provided also by Alveo Coop and Inkode srl
</p>
<p>
Contents are published under license <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>
</p>
<p>
The code of the project is publicly availiable on <a href="https://github.com/CNR-ISMAR/iws">GitHub</a>
</p>

{% endblock %}
