{% extends 'index.html' %}
{% load i18n %}

{% comment %}
Remove tabs from home page 
{% endcomment %}
{% block tabs %}

{{ block.super }}
{% endblock %}

{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}

  {% block hero %}
  <div class="jumbotron">
    <div class="container">
     <div class="col-md-4">
     <img class="home_logo" src="/static/geonode/img/home_logo.png" alt="I-STORMS project logo">
     </div>
     <div class="col-md-8">
      <h2>I-STORMS Web System </h2>
      <h4>Integrated Sea sTORm Management Strategies</h4>
      <!--<h4>Common Data Sharing Framework</h4>-->
      </div>
     <div   class="row">
       <div class="col-md-8" id="home-content">
{% if custom_theme.jumbotron_welcome_content %}
{{ custom_theme.jumbotron_welcome_content }}
{% else %}

<p>The <a href="https://istorms.adrioninterreg.eu/" target="_blank">I-STORMS project</a> seeks to improve the early warning and civil protection procedures in sea storm emergencies. I-STORMS aims through transnational cooperation to enhance innovative policies and develop joint strategies to safeguard the Adriatic-Ionian area from sea storms.</p>
<p>
The I-STORMS Web System is a combination of a common data system for sharing ocean 
<a href="/dashboards/"> measurements</a> and forecasts, a 
<a href="/tmes/">multi-model forecasting system</a>, a <a href="/layers/">geoportal</a> and interactive geo-visualization tools to make results available to the general public (<a href="http://www.seastorms.eu/">Open I-STORMS</a>). 
</p>
<p>
This project is supported by the <a href="https://www.adrioninterreg.eu/">Interreg ADRION programme</a> funded under the European Regional Development Fund and IPA II fund.
</p>
<p>
Contents are published under license 
<a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> (&copy; I-STORMS Partners) 
or <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA</a>
(&copy; <a href="https://www.comune.venezia.it/it/content/dati-e-statistiche-">City of Venice</a>)
</p>

{% endif %}
       </div>
       <div class="col-md-4" id="home-spacer">
       &nbsp;
       </div>
     </div>
    </div>
  </div>
  {% endblock %}

{% block mainbody %}  
{{ block.super }}
  {% block datasets %}{% endblock %}

  {% block bigsearch %} {% endblock %}
  {% block showcase %}{% endblock %}
 
{% endblock %}
