{% extends "site_base.html" %}
{% load pagination_tags %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}
{% load i18n %}


{% block title %} {% trans "Grafana Dashboards" %} - {{ block.super }} {% endblock %}

{% block extra_head %}
{{ block.super }}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}tmes/css/style.css" />

{% endblock %}

{% block extra_script %}
{{ block.super }}

{% endblock %}

{% block body_class %}TMES{% endblock %}

{% block body_outer %}
<div class="row" id="contain-map">
  <div class="col-md-12">

<!-- <iframe style="width:100%; height:980px;" src="https://iws.ismar.cnr.it/grafana/d/_7Z2Rhlmk/sea-level?orgId=1&from=now-2d&to=now&kiosk=tv"/>-->
<iframe  style="width:100%; height:980px;" src="https://iws.seastorms.eu/measurements/d/oje7BYJZz/?orgId=1&kiosk=tv"/>


  </div>
</div>
{% endblock %}
